a.active {
  text-decoration: none;

  font-weight: bold;
  font-size: 3.5vh;
  
}

a:hover {
  text-decoration: none;
  color:white !important;
}
a {
  margin: 2vw;
  font-size: 3.5vh;
  color:white;
  position:relative;
 
}

a::after{

content:"";
position:absolute;
top:8vh;
left:0vw;
width:0%;


border-bottom:0.7vh solid rgba(255, 255, 255);

transition:all 1.5s;

}

a:hover::after{
  width:100%;
  
}

.headersec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1vh;
  position: relative;
 
  font-family: "Gloria Hallelujah", cursive;
  position:sticky;
  top:0;
  z-index:40;
  
  background-color:black;
  color:white;
  
}

.cart {
  font-size: 1.5rem;
  font-weight: bold;
  color:white !important;
}

.navlink {
  display: inline;
}

.itemcount {
  position: relative;
  right: 1vw;
  bottom: 2vh;
  color: white;
  background-color: red;
  font-size: 0.6rem;
  padding: 1vh;
  border-radius: 50%;
}

.themebutton {
  border-radius: 50%;
}

.hamburger{
  font-size: 1.2rem;
  display: none;
  color:white !important;
 background-color:black ;

  
}
.hamburger:focus {
  outline: none;
}
.linksonsmall a {
  font-size: 1.5rem;
  color:black;
  
}
 .linksonsmall a:hover{
   color:red !important;
 }
.linksonsmall {
  
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 3vh;
  top: 5rem;
  left: 0rem;
  z-index: 30;
  text-align: center;
  height: 70vh;

  font-weight: bold;
  width: 63vw;
  transition:all 1s;
  color:white !important;
  
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(0, 255, 255, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 998px) {
  .hamburger {
    display: inline;
  }

  .links {
    display: none;
  }
  .navlink {
    display: block;
  }
  .hamburger:focus {
    outline: none;
  }
}
