.mainprofile {
  
  background-color:		gainsboro;
  padding-top:2vh;
  
}

.p_first{
  color:black;

}
.p_first h6{
  color:blue !important;
  font-weight:bold;
}

.p_second{
margin-bottom:3vh;
color:black;


}

.profile_column{
background-color:white;
  margin:3vh;
  height:65vh;
  padding:2vh;
  border-radius:1.5rem;
  color:black !important;
}

.profile_column1{
  background-color:white;
  margin:3vh;
  height:25vh;
  padding:2vh;
  border-radius:1.5rem;
  color:black !important;
  

}

ul{
  list-style: none;
cursor:pointer;
color:black;
}

.verified_account{
  text-align:center;
  padding:2vh;
  font-weight:bold;
  font-size:1rem;
  color:white;
  background-color:green;
   border-radius:1rem;
}

.edit{
  color:red !important;
  font-weight: bold;
  font-size:1.2rem;

}
.edit:hover{
  color:black  !important;
}

